.cosummers {
  background: #C7C7C7;
}
footer {
  background: #383841;
  padding-top: 118px;
  padding-bottom: 80px;
}
footer .primary .logo p {
  margin-top: 35px;
  width: 290px;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #ACB1C0;
}
footer .primary .logo .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 23px;
}
footer .primary .logo .socials a {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 14px;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}
footer .primary .logo .socials a img {
  opacity: 0.5;
}
footer .primary .logo .socials a:hover {
  background: #423EF3;
}
footer .primary .logo .socials a:hover img {
  opacity: 1;
}
body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 1290px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  line-height: 0;
}
.portfolio {
  padding: 129px 0;
}
.portfolio .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolio a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 50px;
  background: #fff;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #5956E9;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.portfolio a span {
  margin-left: 15px;
}
.portfolio a:hover {
  color: #fff;
  background: #5956E9;
}
.portfolio .card {
  border-radius: 20px;
  background: #F7F8FD;
}
.portfolio .card h2, .portfolio .card h3 {
  font-weight: 500;
  letter-spacing: -0.03em;
}
.portfolio .card p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #8A90A2;
}
.portfolio .other .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding: 41px 25px;
  width: 658px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.portfolio .other .card:first-child {
  margin-top: 0;
}
.portfolio .other .card img {
  margin-right: 45px;
}
.portfolio .other .card p {
  margin-top: 24px;
}
.portfolio .other .card a {
  margin-top: 33px;
}
.portfolio .main .card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 611px;
  padding: 41px 40px 50px 40px;
}
.portfolio .main .card h2 {
  font-size: 35px;
  line-height: 46px;
  margin-top: 49px;
}
.portfolio .main .card p {
  margin-top: 30px;
}
.portfolio .main .card a {
  margin-top: 40px;
}
/*# sourceMappingURL=style.css.map */