.banner {
    background-image: url('./background.png');
}

.banner .container {
    padding: 138px 0;
    position: relative;
}

.banner h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: -0.03em;
    color: #fff;
    width: 603px;
    margin-bottom: 45px;
    margin-top: 33px;
}

.banner h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.6);
}

.banner h4 img {
    margin-right: 9px;
}

.banner button.primary {
    margin-right: 20px;
}

.banner .image {
    position: absolute;
    top: 82px;
    right: 0;
}