.banner .container {
    background-color: #1476FF ;
    border-radius: 45px;
    padding: 86px 84px 82px;
    color: #FFFFFF;
    background-image: url('./IMAGE.png');
    background-repeat: no-repeat;
    background-position: top right;
}

.banner .container h1 {
    font-size: 32px;
    font-weight: 700;
    width: 347px;
    line-height: 48px;
    margin: 0;
    
}

.banner .container p {
    font-size: 9px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 8px;
    margin-bottom: 43px;
}

.banner .container button {
    padding: 18px 32px;
    border-radius: 44px;
    border: none;
    color: #1476FF;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    transition-duration: 0.4s;
}

.banner .container button:hover {
    box-shadow: 0px 4px 10px 0px #14142B33;
    color: #0B0E2C;
    cursor: pointer;
}