.blog

    .container
        padding-bottom: 130px
        padding-top: 130px
        p
            font-size: 18px
            text-align: center
            color: #8A90A2
            font-weight: 500
            margin-bottom: 35px

            img
                margin-right: 9px
        h1
            font-size: 60px
            font-weight: 700
            letter-spacing: -0.03em
            text-align: center
            margin-bottom: 60px
        .posts
            display: flex
            justify-content: space-between
        .post
            border: 1px solid #F1F3F6
            padding: 40px
            width: 544px
            .info
                margin-top: 35px
                display: flex
                text-transform: uppercase
                justify-content: space-between 
                .category, .date
                    border-radius: 10px
                    padding: 13px 28px
                    font-weight: 700
                .category
                    color: #5956E9
                    background: rgba(#5956E9, 0.1)
                .date 
                    background: #F7F8FD
                    color: #8A90A2
            h2 
                margin-top: 43px
                font-size: 32px
                font-weight: 500
                line-height: 42px
                letter-spacing: -0.03em
                text-align: left
            p
                margin-top: 23px
                font-size: 18px
                font-weight: 400
                line-height: 30px
                letter-spacing: 0em
                text-align: left





                    
                    




                
    
        

