button {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    padding: 18px 32px;
    border-radius: 48px;
}

button:hover {
    cursor: pointer;
}

button.white {
    background-color: white;
    border: 1px solid #E9EAF3;
    box-shadow: 0px 4px 10px 0px #14142B0A;
    margin-right: 35px;
}

button.blue {
    background-color: #1476FF;
    border: 1px solid #1476FF;
    box-shadow: 0px 4px 10px 0px #0257FB33;
    color: #FFFFFF;
}