footer
    background: #383841
    padding-top: 118px
    padding-bottom: 80px
    .primary
        .logo
            p
                margin-top: 35px
                width: 290px
                font-size: 15px
                font-weight: 400
                line-height: 26px
                color: #ACB1C0
            .socials
                display: flex
                margin-top: 23px
                a
                    transition-duration: 0.3s
                    display: inline-flex
                    justify-content: center
                    align-items: center
                    margin-right: 14px
                    width: 44px
                    height: 44px
                    background: rgba(255, 255, 255, 0.1)
                    border-radius: 50px
                    img
                        opacity: 0.5
                    &:hover
                        background: #423EF3
                        img
                            opacity: 1
