header .container {
    padding: 32px 0 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    border-bottom: 1px solid #E9EAF3;
    margin-bottom: 100px;
}

header .container .buttons span {
    font-size: 10px;
    line-height: 11px;
    padding: 3px 5px;
    background-color: #1476FF;
    color: white;
    border-radius: 50px;
    margin-right: 32px;
}

header .container .buttons a {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #222222;
    text-decoration: none;
    margin-right: 41px;
}