.features
    .wrapper
        box-sizing: border-box
        border-radius: 20px
        background-color: #F7F8FD
        padding: 80px 
        display: flex
        justify-content: space-between
        .card
            background-color: #fff
            padding: 48px 32px 50px 39px
            border-radius: 20px
            width: 189px
            p 
                color: #8A90A2
                font-size: 18px
                font-weight: 400
                line-height: 30px
                margin-top:24px


            h2
                font-size: 24px
                font-weight: 500
                line-height: 32px
                letter-spacing: -0.03em
                margin-top: 24px
                