body 
    margin: 0
    font-family: 'Space Grotesk', sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    display: flex

html, body
    height: 100%

.wrapper 
    width: 1290px
    margin: 0 auto


h1, h2, h3, h4, h5, h6
    margin: 0

a 
    text-decoration: none
p
    margin: 0
img 
    line-height: 0

.quote
    background: linear-gradient(162.21deg, #517879 4.83%, #1E3E57 103.44%)
    backdrop-filter: blur(2.5px)
    width: 45vw
    color: #E4E4E4
    padding-left: 90px
    box-sizing: border-box
    display: flex
    justify-content: center
    flex-direction: column

    h1
        font-size: 64px
        font-weight: 700
        line-height: 96px
        width: 412px
    p
        font-size: 16px
        font-weight: 700
        line-height: 24px
        margin-top: 22px




.form
    width: 55vw
    background-image: url('./img/Stroke.svg')
    background-repeat: no-repeat

header
    .logo
        z-index: 100
        position: absolute
        top: 40px
        left: 64px
    .links
        position: absolute
        z-index: 100
        top: 40px
        right: 151px 
        
        a
            margin-left: 24px
            color: #fff
            font-size: 16px
            font-weight: 700
            line-height: 24px

            
                
