.stats {
    background-color: #292930;
    background-image: url('/img/planets.svg');
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.stats .container {
    padding: 130px 0 138px;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stats::after {
    content: '';
    width: 386px;
    height: 386px;
    background-image: url('/img/circle.svg');
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
}

.stats::before {
    content: '';
    width: 189px;
    height: 123px;
    background-repeat: no-repeat;
    background-image: url('/img/box.png');
    position: absolute;
    left: -10px;
    top: -100px;
}

.stats h1 {
    width: 1196px;
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-align: center;
    color: white;
}

.stats h1 span {
    color: #FFDC60;
    text-decoration: underline;
}

.stats .play {
    margin-top: 101px;
    display: inline-flex;
    align-items: center;
}

.stats .play a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.stats .play a:first-child {
    margin-right: 20px;
}
.stats .items {
    margin-top: 149px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.stats .items .item{
    border-radius: 20px;
    color: #292930;
    display: flex;
    width: 369px;
    height: 165px;
    background-color: white;
    align-items: center;
    justify-content: center;
    
}
.stats .items .item:nth-of-type(1){
    background: #FFDC60;
}
.stats .items .item:nth-of-type(2){
    background: #82CEFD;

}
.stats .items .item:nth-of-type(3){
    background: #FFADAD;
}
.stats .items .item img{
    width: 77px;
    height: 77px;
    margin-right: 40px;
}
.stats .items .item .text span {
  
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -0.03em;

}
.stats .items .item .text p {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-top: 17px;
}